<a id="tunica-web" onclick="window.open('./tunica-web/HTML/index.htm', '_top');" >
</a>
  <a id="mdef-01" onclick="directLink('001.html'); return false;">
  </a>
  <a id="mdef-02" onclick="directLink('002.html'); return false;">
  </a>
  <a id="mdef-03" onclick="directLink('003.html'); return false;">
  </a>
  <a id="mdef-04" onclick="directLink('004.html'); return false;">
  </a>
  <a id="mdef-07" onclick="directLink('007.html'); return false;">
  </a>
  <a id="mdef-08" onclick="directLink('008.html'); return false;">
  </a>
  <a id="mdef-09" onclick="directLink('009.html'); return false;">
  </a>
  <a id="mdef-10" onclick="directLink('010.html'); return false;">
  </a>
  <a id="mdef-11" onclick="directLink('011.html'); return false;">
  </a>
  <a id="mdef-12" onclick="directLink('012.html'); return false;">
  </a>
  <a id="mdef-13" onclick="directLink('013.html'); return false;">
  </a>
  <a id="mdef-14" onclick="directLink('014.html'); return false;">
  </a>
  <a id="mdef-15" onclick="directLink('015.html'); return false;">
  </a>
  <a id="mdef-16" onclick="directLink('016.html'); return false;">
  </a>
  <a id="mdef-17" onclick="directLink('017.html'); return false;">
  </a>
  <a id="mdef-18" onclick="directLink('018.html'); return false;">
  </a>
  <a id="mdef-19" onclick="directLink('019.html'); return false;">
  </a>
  <a id="mdef-20" onclick="directLink('020.html'); return false;">
  </a>
  <a id="mdef-21" onclick="directLink('021.html'); return false;">
  </a>
  <a id="mdef-22" onclick="directLink('022.html'); return false;">
  </a>
  <a id="mdef-23" onclick="directLink('023.html'); return false;">
  </a>
  <a id="mdef-24" onclick="directLink('024.html'); return false;">
  </a>
  <a id="fa-00" onclick="directLink('fa.html'); return false;">
  </a>
  <a id="fa-01" onclick="directLink('fa_01.html'); return false;">
  </a>
  <a id="fa-02" onclick="directLink('fa_02.html'); return false;">
  </a>
  <a id="fa-03" onclick="directLink('fa_03.html'); return false;">
  </a>
  <a id="fa-04" onclick="directLink('fa_04.html'); return false;">
  </a>
  <a id="fa-05" onclick="directLink('fa_05.html'); return false;">
  </a>
  <a id="fa-06" onclick="directLink('fa_06.html'); return false;">
  </a>
  <a id="fa-07" onclick="directLink('fa_07.html'); return false;">
  </a>
  <a id="fa-08" onclick="directLink('fa_08.html'); return false;">
  </a>
  <a id="fa-09" onclick="directLink('fa_09.html'); return false;">
  </a>
  <a id="fa-10" onclick="directLink('fa_10.html'); return false;">
  </a>
  <a id="fa-11" onclick="directLink('fa_11.html'); return false;">
  </a>
  <a id="fa-12" onclick="directLink('fa_12.html'); return false;">
  </a>
  <a id="fa-13" onclick="directLink('fa_13.html'); return false;">
  </a>
  <a id="fa-14" onclick="directLink('fa_14.html'); return false;">
  </a>
  <a id="fa-15" onclick="directLink('fa_15.html'); return false;">
  </a>
  <a id="fa-16" onclick="directLink('fa_16.html'); return false;">
  </a>
  <a id="fa-17" onclick="directLink('fa_17.html'); return false;">
  </a>
  <a id="fa-18" onclick="directLink('fa_18.html'); return false;">
  </a>
  <a id="fa-19" onclick="directLink('fa_19.html'); return false;">
  </a>
  <a id="mc-04" onclick="directLink('mc_04.html'); return false;">
  </a>
  <a id="mc-03" onclick="directLink('mc_03.html'); return false;">
  </a>
  <a id="mc-02" onclick="directLink('mc_02.html'); return false;">
  </a>
  <a id="mc-01" onclick="directLink('mc_01.html'); return false;">
  </a>
  <a id="mc-00" onclick="directLink('mc.html'); return false;">
  </a>
  <a id="cat-clot" onclick="directLink('cat-clot.html'); return false;">
  </a>
  <a id="cat-ramblas" onclick="directLink('cat-ramblas.html'); return false;">
  </a>
  <a id="cat-santpere" onclick="directLink('cat-santpere.html'); return false;">
  </a>
  <a id="home" onclick="directLink('home.html'); return false;">
  </a>
  <script>
if(window.location.hash){
  $(location.hash).trigger('click');
};
$(window).on('hashchange', function(e){
  $(location.hash).trigger('click');
});
  </script>
