<nav id="header-main-menu" class="big-menu">
  <ul class="main-menu sm sm-clean">
    <li>
      <a href="index.html">Home</a></li>
    <li>
      <a href="news.html">News</a></li>
    <li>
      <a href="fa.html" target="_blank">Fab Academy - 2021</a></li>		
    <li>
      <a href="mc.html" target="_blank">Micro Challenges - 2021</a></li>
    <li>
      <a href="http://archive.fabacademy.org/2018/labs/fablabdassault/students/jeanluc-pierite/" target="_blank">Fab Academy - 2018</a></li>
    <li>
      <a href="assets/Pierite, Jean-Luc CV.pdf" target="_blank">CV</a></li>
  </ul>
</nav>
